@charset "utf-8";
#footer{
    height: .45rem;
    width: 100%;
    background-color: #fff;
    box-shadow:0 -.04rem .04rem 0 #ccc;
    ul{
        height: .45rem;
        width: 100%;
        @include flexbox();
        li{
            @include flex(1);
            a{
              @include flexbox();
              @include flex-direction(column);
              justify-content: center;
              align-content: space-around;
              color: #888;
              span{
                  text-align:ccenter; 
                  &:first-child{
                      text-align: center;
                      font-size: .2rem;
                      height: .24rem;
                  }
                  &:last-child{
                      text-align: center;
                  }
              }
              &.active{
                  color: #8ec31e;
              }  
            }
        }
    }
}
