@charset "utf-8";
#header{
    height: .45rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    .header_mask{
        height: .45rem;
        background-color: #141414;
        opacity: .8;
    }
    header{
        @include flexbox();
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: .45rem;
        width: 100%;
        .header_search{
            height: .27rem;
            width: 100%;
            margin: 0 auto;
            padding: 0 .24rem 0 .24rem;
            @include border-radius(.15rem);
            @include flexbox();
            align-items: center;
            i{
                height: 27px;
                width: 27px;
                position: absolute;
                z-index: 3;
//              background: url(../images/icon_head.png) no-repeat 0 -100px;
//              background-size: .27rem .27rem;
//              background-size: 27px 27px;
            }
            input{
                width: 100%;
                display: inline;
                height: .27rem;
                font-size: .14rem;
                line-height: .27rem;
                @include border-radius(.15rem);
                @include border(0);
                border: none;
                font-weight: 700;
                padding-left: .42rem;
                padding-right: .24rem;
                background-clip:border-box!important;           
            }
                
        }
    }
}
