<div class="m-index">
    <div id="header"></div>
    <section>
   
        <div id="menu"> 
      
            <ul class="menu_list">
                 <script type="text/html" id="menulist"> 
        {{if show}}
                    <div class="yo-modal">
                        <div class="cont">
                            <div class="yo-loading">
                                <i class="yo-ico"></i>
                                <div class="text">加载中...</div>
                            </div>
                        </div>
                    </div>
                    {{/if}} 
                    {{if !show}} 
                    
                    {{each result}}
                    <li>
                        <a href="">
                            <i><img src="https://pic.keede.com/Mobile/SystemImg/Class/{{$value.companyLogo}}" alt=""></i>
                            <p>{{$value.positionName}}</p>
                        </a>
                    </li>
                    {{/each}}  {{/if}}  </script>             
            </ul>
           

        </div>
      
    </section>
    <div id="footer"></div>
</div>
